.wmd {
    padding: 50px 5%;font-size: 14px;
	margin: -50px;
    background-size: cover;background-position: center center;
}
.wmd:after, .wmd__wrapper:after {content: ''; display: block; clear: both;}

.wmd__wrapper{ background-size: contain; background-position:  center center;background-repeat: no-repeat;margin: -30px; padding: 200px 126px 136px;}

.wmd__tile {float: left;width: 33.3333%;margin-bottom: 20px;height: 198px;}
.wmd__tile-inner {
    margin: 0 20px;display: block;position: relative;
    height: 146px;
    background-color: #730504;background-size: cover;background-position: center center;
    transition: all 0.18s ease-in-out 0s;
}

#theme-page .wmd__headline {
    margin: 0 20px;
    background: #730504;color: #fff;font-size: inherit;padding: 8px 10px;
    font-weight: normal;white-space: nowrap;  text-transform: none;
    overflow: hidden;
}

.wmd__mask {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    display: block; padding: 40px 10px 15px; right: 0;
    font-weight: bold; left: 0; overflow: hidden; position: absolute; text-align: left; top: 0;
    color: #730504;
}

.wmd__tile-inner:hover {height: 166px;}
.wmd__tile-inner:hover .wmd__mask { opacity: 1;}


/* admin area */

.adm-wmd {padding: 0 6px;border: 1px solid #cfcfcf;float:left;width: 377px;}
.adm-wmd__box--hidden {display: none;}

.adm-wmd .widefat {width: 90%;}